body {
  padding-top: 45px;
  padding-bottom: 30px;
min-height: 870px;
min-width: 767px;
}
.navbar{
    height:55px;
    border-top: 7px solid #9e2570;
    margin-bottom: 0;
      background:#000;
}



.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;

 border-top: 0px solid #9e2570;
   
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}



#sect1{
	
	position:relative;
	left:0;
	width:40%;
	
	height: 100%;
	float:left;
}

#sect2{
position:relative;

    width:20%;
   
	
	float:left;
    height: 100%;
	
}

#sect3{
	position:relative;
    
    width:40%;

	float:left;
    height: 100%;
	
	
}

/*Specific Cases*/

.btn.btn-custom-lg
{
  border-radius: 0;
 background:#FFF;
}
.table_rows_1{
	
	background:#FFF;
    opacity: 1;
	
}


.table_rows_1:hover{
	background:pink;
	opacity: 0.5;
		
}

.footer{
	position: fixed;
	bottom: 0;
	width:100%;height:13%;
	padding-left: 150px;
	padding-bottom: 40px;
	
}
