body {
  padding-top: 70px;
  padding-bottom: 30px;
min-height: 870px;
min-width: 767px;
}

.navbar{
	height:55px;
    border-top: 7px solid #9e2570;
      background:#000;
}




.login_box{
	position : absolute;
	top: 35%;
	left:30%;
	width:40%;
	height:30%;
	background: #000;

	}

#firsttab
{
	color:#FFF;
	position: relative;
	left:0;
	width:40%;
	height: 100%;
	margin: 0;
    padding:0;
	float: left;
border-right: 3px solid #9e2570;
}
#secondtab
{
	color:#FFF;
    position: relative;
    width:60%;
    height: 100%;
    margin: 0;
    padding :0;
    float: left;
}



.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.container-fluid{
	
	background:#000;
}